HELP.md
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
scripts/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### db info ###
src/main/resources/application-dbInfo.properties
src/main/resources/application-s3.properties
src/main/resources/application-oauth.properties

### social login info ###
src/main/resources/application.properties

# log
hs_err_pid*
*.log

# Gradle
.gradle

# nginx
nginx
