name: CD with AWS

on:
    push:
        branches: [develop]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Set up JDK 11
              uses: actions/setup-java@v2
              with:
                  java-version: '11'
                  distribution: 'adopt'

            - name: Cache
              uses: actions/cache@v2
              with:
                  path: |
                      ~/.gradle/caches
                      ~/.gradle/wrapper
                  key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                  restore-keys: |
                      ${{ runner.os }}-gradle-

            - name: Grant execute permission for gradlew
              run: chmod +x gradlew

            - name: Export JAR with Gradle
              run: ./gradlew bootJar --no-daemon

            - name: Make Directory for deliver
              run: mkdir deploy

            - name: Copy Jar
              run: cp ./build/libs/*.jar ./deploy/

            - name: Copy appspec
              run: cp ./appspec.yml ./deploy/

            - name: Copy shell
              run: cp ./scripts/bash/* ./deploy/

            - name: Make zip file for upload
              run: zip -r -qq -j ./waffle-team3-server.zip ./deploy

            - name: Deliver to S3
              env:
                  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
              run: |
                  aws s3 cp \
                  --region ap-northeast-2 \
                  --acl private \
                  ./waffle-team3-server.zip s3://waffle-deploy/

            - name: Code Deploy
              env:
                  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
              run: |
                  aws deploy create-deployment \
                  --application-name waffleapp \
                  --deployment-config-name CodeDeployDefault.AllAtOnce \
                  --deployment-group-name dev \
                  --s3-location bucket=waffle-deploy,bundleType=zip,key=waffle-team3-server.zip \
                  --region ap-northeast-2

            - name: Cleanup Gradle Cache
              run: |
                  rm -f ~/.gradle/caches/modules-2/modules-2.lock
                  rm -f ~/.gradle/caches/modules-2/gc.properties
